<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta charset="UTF-8">
     <style>
        .nav{
            background:#3a3a3a;
            height:65px;
        }
        ul{
            overflow:hidden;
        }
        ul li{
            float:left;
            list-style:none;
            padding:0 10px;
            line-height:65px;

        }
        ul li a{
            color:#fff;
        }
    </style>

</head>
<body>
<div class="nav">
     <ul>
        <li><a href="/">首页</a></li>
        <li><a href="login">登陆</a></li>
    </ul>
</div>
{% block main %}
{% endblock %}

</body>
</html>